node_modules/
dist/
build/
coverage/
!packages/coverage/
!packages/coverage/**
.next/
.turbo/
.vercel/
.specify/
.specs
.env
.env.*
.DS_Store
.idea/
.vscode/
*.log
*.log*
.pnpm-debug.log*
.npmrc
pnpm-debug.log*